.upload-file {
    display: flex;
    flex-direction: column;

    &__preview {
        max-width: 100%;
        width: auto;
        height: 10rem;
        position: relative;
        img {
            // width: 100%;
            height: 100%;
        }

        &--remove {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background-color: black;
            opacity: .7;
            cursor: pointer;

            &::after {
                content: " ";
                width: 100%;
                height: 1px;
                background-color: white;
                position: absolute;
                top: 50%;
                transform: rotate(45deg);
            }
            &::before {
                content: " ";
                width: 100%;
                height: 1px;
                background-color: white;
                position: absolute;
                top: 50%;
                transform: rotate(-45deg);
            }
        }
    }
    &__input {
        label {
            width: 100%;
            cursor: pointer;
            border-radius: 10px;
            background-color: rgb(255, 96, 96);
            color: white;
            padding: 5px;
        }
        input {
            display: none;
        }
    }
}