.list-item {
    width: 100%;
    background-color: white;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    display: grid;
    grid-template-columns: 2rem 8rem auto 200px;
    gap: 10px;
    height: 8rem;
    align-items: center;
    position: relative;
    &.--graggable {
        cursor: grab;
    }
    &.--loading {
        filter: blur(2px);
        cursor: progress;
    }
    &.--priority {
        border: 1px solid goldenrod;
    }

    &-loader {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.183);
    }

    &__order {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        &--btn {
            width: 100%;
            height: 1rem;
            background-color: white;

            &:disabled {
                display: none;
            }
            img {
                width: 100%;
                height: 100%;
            }
             
            
            &.btn-down {
                transform: rotate(180deg);
            }
        }
    }
    &__img {
        width: 7rem;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            border-radius: 10px;
            width: 100%;
            max-height: 7rem;
        }
    }
    &__name {
        font-size: 1.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }

    &__btns {
        display: flex;
        flex-direction: row;
        gap: 4px;
        justify-content: flex-end;
    }
    &__btn {
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 10px;
        color: white;
        align-self: center;
        
        img {
            width: 50%;
            height: 50%;
        }
        &.edit {
            background-color: rgb(40, 40, 248);
        }
        &.remove {
            background-color: rgb(255, 51, 51);
        }
        &.favorite {
            border: 1px solid goldenrod;
            background-color: white;
        }
    }
}

@media (max-width: 550px) {
    .list-item {
        display: grid;
        grid-template-areas: "img name"
                             "img btns";
        grid-template-columns: 1fr 1fr;

        &__order {
            display: none;
        }
        &__img {
            grid-area: img;
            
        }
        &__name {
            grid-area: name;
        }
        &__btns {
            grid-area: btns;

        }
        &__btn {
            width: 10vw;
            height: 10vw;

            max-width: 40px;
            max-height: 40px;
        }
    }
}