.wish-list {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

   
    .wish-list__item.--current {
        position: relative;

        &::before {
            border-radius: 10px;
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 1px dashed black;
            background-color: white;
            z-index: 2;
        }
    }
   
}