@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;

  &:disabled {
    cursor: not-allowed;
    filter: grayscale(.9);
  }
}
html, body {
  min-height: 100vh;
}
body {
  background: url('./assets/background.svg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-page {
  width: 100%;
  padding: 2rem;

  &__loader {
    background-color: rgba(0, 0, 0, 0.227);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;


    &__title {
      font-size: 1.5rem;
      font-weight: normal;
    }

    &__btn-add {
      padding: .5rem;
      text-align: center;
      width: 150px;
      color: white;
      background-color: rgb(27, 122, 255);
      border-radius: 10px;

    }
  }
}
