.list-item-editor {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
    width: 60vw;
    
    &__header {
        font-weight: normal;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            padding: 5px 10px;
            outline: none;
            border-radius: 10px;
            border: 1px solid gray;

        }
    }

    &__submit {
        width: 100%;
        height: 2.5rem;
        padding: .5rem;
        text-align: center;
        color: white;
        background-color: rgb(27, 179, 255);
        border-radius: 10px;

        &:hover {
            background-color: rgb(27, 160, 227);
        }

        .btn-loader {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .lds-ring div {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media (max-width: 550px) {
    .list-item-editor {
        min-width: 0;
        width: 90vw;
    }
}